body {
    background-image: url('../images/smart.jpeg');
    font-family: 'Libre Bodoni', serif;
    color: white;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 0.2em;
}

.brain {
    height: 60px;
    padding-right: 10px;
}

article {
    font-size: medium;
    text-align: left;
}

h2 {
    text-align: center;
}

.information,
.questions-area,
.answers {
    width: 60%;
    font-size: 1rem;
    margin: auto;
    padding: 30px 0;
    padding-left: 5%;
    padding-right: 5%;
    background: black center center / cover no-repeat fixed;
    text-align: left;

}

.score-area {
    margin: 5px auto;
    width: 50%;
    font-size: 1rem;
}

#right {
    color: white;
    font-weight: bold;
}

#wrong {
    color: red;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 30px;
}