body {
    background-image: url('../images/smart.jpeg');
    background-size: 40%;
    font-family: 'Libre Bodoni', serif;
    color: white;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 0.2em;
}

.brain {
    height: 60px;
    padding-right: 10px;
}

article {
    font-size: medium;
    text-align: left;
}

h2 {
    text-align: center;
}

.information,
.questions-area,
.answers {
    width: 60%;
    font-size: 1rem;
    margin: auto;
    padding: 30px 0;
    padding-left: 5%;
    padding-right: 5%;
    background: black center center / cover no-repeat fixed;
    text-align: left;

}

.score-area {
    margin: 5px auto;
    width: 50%;
    font-size: 1rem;
}

#right {
    color: white;
    font-weight: bold;
}

#wrong {
    color: red;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 30px;
}

/* Styles for Mobile */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }

    body {
        font-size: 18px;
        background-size: 100%;
    }

    .heading {
        font-size: 25px;
    }

    .information,
    .questions-area,
    .answers {
        width: 85%;
    }
    transform: scale(0.219);

}

/* Styles for Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    h3 {
        font-size: 19px;
    }

    body {
        font-size: 19px;
        background-size: 70%;

    }

    .information,
    .questions-area,
    .answers {
        width: 80%;
    }

    .heading {
        font-size: 40px;
    }
    transform: scale(0.219);

}

/* Styles for Laptop */
@media screen and (min-width: 1280px) and (max-width: 1599px) {
    h3 {
        font-size: 20px;
    }

    body {
        font-size: 20px;
    }

    .heading {
        font-size: 45px;
    }

    .information,
    .questions-area,
    .answers {
        width: 80%;
    }
    transform: scale(0.277);
}
/* Styles for Desktop */
@media screen and (min-width: 1600px) {
    h3 {
        font-size: 24px;
    }

    body {
        font-size: 24px;
    }

    .heading {
        font-size: 45px;
    }

    .information,
    .questions-area,
    .answers {
        width: 80%;
    }
    p{
        font-size: 30px;
    }
    .question label {
        font-size: 30px;
      }
    button {
        font-size: 25px;
    }

    transform: scale(0.3181);
  }