body {
    background-image: url('../images/smart.jpeg');
    font-family: 'Libre Bodoni', serif;
    color: white;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 0.2em;
}

.brain {
    height: 60px;
    padding-right: 10px;
}

article {
    font-size: medium;
    text-align: left;
}

h2 {
    text-align: center;
}

.information,
.questions-area,
.answers {
    width: 60%;
    font-size: 1rem;
    margin: auto;
    padding: 30px 0;
    padding-left: 5%;
    padding-right: 5%;
    background: black center center / cover no-repeat fixed;
    text-align: left;

}

.score-area {
    margin: 5px auto;
    width: 50%;
    font-size: 1rem;
}

#right {
    color: white;
    font-weight: bold;
}

#wrong {
    color: red;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 30px;
}

/* Styles for screens smaller than 650px */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }

    body {
        font-size: 18px;
    }

    .heading {
        font-size: 25px;
    }

    .information,
    .questions-area,
    .answers {
        width: 85%;
    }
}

/* Styles for screens between 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h3 {
        font-size: 18px;
    }

    body {
        font-size: 18px;
    }

    .information,
    .questions-area,
    .answers {
        width: 80%;
    }

    .heading {
        font-size: 40px;
    }
}

/* Styles for screens larger than 1024px */
@media screen and (min-width: 1024px) {
    h3 {
        font-size: 20px;
    }

    body {
        font-size: 20px;
    }

    .heading {
        font-size: 45px;
    }

    .information,
    .questions-area,
    .answers {
        width: 80%;
    }
}